<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="icon" type="image/gif" href="~/animated_favicon1.gif">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 凌云顧問</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)

</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow custom-bg-color">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/imgs/share_page/mama_logo.png" alt="凌云顧問" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">凌云顧問</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#about">關於我們</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">我們的服務</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">我們的技術</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">解決方案</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">聯絡我們</a>
                        </li>
                    </ul>
                </div>

                @*<div class="float-left">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">會員登入</a>
                </div>*@

            </div>
        </nav>
    </header>
    @*
        <div class="container">
            <main role="main" class="pb-3">

            </main>
        </div>
    *@
    <main role="main" class="pb-1 mt-md-n5">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted custom-bg-color">
        @*<div class="container">
                &copy; 2021 - MamaBirdnest - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>*@
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img src="~/imgs/share_page/mama_logo.png" alt="燕燕窩" />
                </div>
                <div class="col-sm">
                    電話：0903035938
                </div>
                <div class="col-sm">
                    信箱:mamabirdnest18@gmail.com
                </div>
                <div class="col-sm">
                    Line:
                    <a href="https://line.me/ti/p/c-IjvrjQMW" target="_blank">
                        <img src="~/imgs/share_page/LINE_Brand_icon.png" width="24" alt="LineID" />
                    </a>
                </div>
                <div class="col-sm">
                    粉絲專頁:
                    <a href="https://www.facebook.com/MamaBirdNestTW/" target="_blank">
                        <img src="~/imgs/share_page/facebook.png" width="24" alt="燕燕窩" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
