@{
    ViewData["Title"] = "燕燕窩";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>*@
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="3000">
            <img src="~/imgs/home_page/birdnest1.png" class="d-block w-100" alt="圖片失效">
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="~/imgs/home_page/birdnest2.png" class="d-block w-100" alt="圖片失效">
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="~/imgs/home_page/birdnest3.jpg" class="d-block w-100" alt="圖片失效">
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="~/imgs/home_page/birdnest4.jpg" class="d-block w-100" alt="圖片失效">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

