
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cust_product_bg_color">
    <div class="jumbotron jumbotron-fluid">
        <div class="container custom-content-center">
            <img src="~/imgs/products_page/product_intro_title.png" alt="燕燕窩" />
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col align-self-start">
            One of three columns
        </div>
        <div class="col align-self-center">
            One of three columns
        </div>
        <div class="col align-self-end">
            One of three columns
        </div>
    </div>
</div>