
@{
    ViewData["Title"] = "產品介紹";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/products.css" />
}
@section Scripts {
    <script type="text/javascript" src="~/js/site.js"></script>
}


<div class="jumbotron jumbotron-fluid products-bg-color">
    <div class="container custom-content-center">
        <img class="h-50" src="~/imgs/products_page/product_intro_title.png" alt="燕燕窩" />
    </div>
</div>

<div class="jumbotron title-bg-color">
    <div class="d-flex flex-row mb-3">
        <div class="p-2 col-3 fill">
            <img height="500" src="~/imgs/products_page/product_intro_1.jpg" alt="燕燕窩" />
        </div>

        <div class="d-flex flex-column mb-3 col-3">
            <div class="p-2 fill">
                <img height="250" src="~/imgs/products_page/product_intro_2.jpg" alt="燕燕窩" />
            </div>
            <div class="p-2 fill">
                <img height="250" src="~/imgs/products_page/product_intro_3.png" alt="燕燕窩" />
            </div>
        </div>

        <div class="d-flex flex-column mb-3 col-6">
            <div class="p-4">
                <svg width="100%" height="100" class="mt-5">
                    <text text-anchor="middle" x="50%" y="50%" class="text-title">
                        產品介紹
                    </text>
                </svg>
            </div>
            <div class="p-2">
                <a href="">
                    <svg width="100%" height="100">
                        <text text-anchor="middle" x="50%" y="50%" class="text">
                            極品燕盞
                        </text>
                        <text text-anchor="middle" x="50%" y="50%" class="text text-1">
                            極品燕盞
                        </text>
                        <text text-anchor="middle" x="50%" y="50%" class="text text-2">
                            極品燕盞
                        </text>
                        <text text-anchor="middle" x="50%" y="50%" class="text text-3">
                            極品燕盞
                        </text>
                    </svg>
                </a>
            </div>
            <div class="p-2">
                <a href="">
                    <svg width="100%" height="100">
                        <text text-anchor="middle" x="50%" y="50%" class="text">
                            燕餅
                        </text>
                        <text text-anchor="middle" x="50%" y="50%" class="text text-1">
                            燕餅
                        </text>
                        <text text-anchor="middle" x="50%" y="50%" class="text text-2">
                            燕餅
                        </text>
                        <text text-anchor="middle" x="50%" y="50%" class="text text-3">
                            燕餅
                        </text>
                    </svg>
                </a>
            </div>
            <div class="p-2">
                <a href="">
                    <svg width="100%" height="100">
                        <text text-anchor="middle" x="50%" y="50%" class="text">
                            即品燕窩
                        </text>
                        <text text-anchor="middle" x="50%" y="50%" class="text text-1">
                            即品燕窩
                        </text>
                        <text text-anchor="middle" x="50%" y="50%" class="text text-2">
                            即品燕窩
                        </text>
                        <text text-anchor="middle" x="50%" y="50%" class="text text-3">
                            即品燕窩
                        </text>
                    </svg>
                </a>
            </div>
        </div>

    </div>
</div>
